@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Geist:wght@100..900&display=swap");
@import "tw-animate-css";
@import "./base/_colors.css";
@import "./layout/_containers.css";
@import "./base/_typography.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --font-sans: "Geist", sans-serif;
  --font-mono: "Geist Mono", monospace;
  font-family: var(--font-sans);
  font-weight: 200;
  letter-spacing: 0.34%;
  color: var(--color-text);
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-bg);
}

/* custom dashed borders */
.border-dashed-long-h {
  border-top: 1px dashed var(--color-border-dashed);
}

.border-dashed-long-v {
  border-left: 1px dashed var(--color-border-dashed);
}
